.u-section-1 {
  background-image: linear-gradient(white, #f9e79b);
}

.u-section-1 .u-sheet-1 {
  min-height: 2559px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: times-new-roman;
  margin: -7px 248px 0 342px;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-family: Lobster;
  margin: -34px 306px 0 284px;
}

.u-section-1 .u-products-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 33.3333%;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 2305px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-product-price-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-product-price-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-product-price-3 {
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-1 .u-product-price-4 {
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-1 .u-product-price-5 {
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-1 .u-product-price-6 {
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-image-7 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-1 .u-product-price-7 {
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-image-8 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-1 .u-product-price-8 {
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-image-9 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-1 .u-product-price-9 {
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-image-10 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-1 .u-product-price-10 {
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-image-11 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-1 .u-product-price-11 {
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px;
}

.u-section-1 .u-image-12 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-14 {
  margin: 20px 0 0;
}

.u-section-1 .u-product-price-12 {
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px;
}

.u-section-1 .u-image-13 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-15 {
  margin: 20px 0 0;
}

.u-section-1 .u-product-price-13 {
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-14 {
  padding: 30px;
}

.u-section-1 .u-image-14 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-16 {
  margin: 20px 0 0;
}

.u-section-1 .u-product-price-14 {
  margin: 20px auto 0;
}

.u-section-1 .u-container-layout-15 {
  padding: 30px;
}

.u-section-1 .u-image-15 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-17 {
  margin: 20px 0 0;
}

.u-section-1 .u-product-price-15 {
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 148px;
    margin-left: 242px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 206px;
    margin-left: 184px;
  }

  .u-section-1 .u-products-1 {
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    min-height: 1901px;
  }

  .u-section-1 .u-image-1 {
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    margin-left: initial;
  }

  .u-section-1 .u-image-7 {
    margin-left: initial;
  }

  .u-section-1 .u-image-8 {
    margin-left: initial;
  }

  .u-section-1 .u-image-9 {
    margin-left: initial;
  }

  .u-section-1 .u-image-10 {
    margin-left: initial;
  }

  .u-section-1 .u-image-11 {
    margin-left: initial;
  }

  .u-section-1 .u-image-12 {
    margin-left: initial;
  }

  .u-section-1 .u-image-13 {
    margin-left: initial;
  }

  .u-section-1 .u-image-14 {
    margin-left: initial;
  }

  .u-section-1 .u-image-15 {
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1066px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1376px;
    margin-right: 38px;
    margin-left: 132px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 96px;
    margin-left: 74px;
  }

  .u-section-1 .u-products-1 {
    margin-top: -1383px;
    margin-bottom: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: 50% 50%;
    min-height: 3495px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 7678px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-products-1 {
    margin-top: -7672px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 506px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 506px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 506px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 506px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    height: 506px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    height: 506px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-7 {
    height: 506px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-8 {
    height: 506px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-9 {
    height: 506px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-10 {
    height: 506px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-11 {
    height: 506px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-12 {
    height: 506px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-13 {
    height: 506px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-14 {
    height: 506px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-15 {
    height: 506px;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 5563px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-products-1 {
    margin-top: -5517px;
  }

  .u-section-1 .u-image-1 {
    height: 365px;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 365px;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 365px;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 365px;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 365px;
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    height: 365px;
    margin-left: initial;
  }

  .u-section-1 .u-image-7 {
    height: 365px;
    margin-left: initial;
  }

  .u-section-1 .u-image-8 {
    height: 365px;
    margin-left: initial;
  }

  .u-section-1 .u-image-9 {
    height: 365px;
    margin-left: initial;
  }

  .u-section-1 .u-image-10 {
    height: 365px;
    margin-left: initial;
  }

  .u-section-1 .u-image-11 {
    height: 365px;
    margin-left: initial;
  }

  .u-section-1 .u-image-12 {
    height: 365px;
    margin-left: initial;
  }

  .u-section-1 .u-image-13 {
    height: 365px;
    margin-left: initial;
  }

  .u-section-1 .u-image-14 {
    height: 365px;
    margin-left: initial;
  }

  .u-section-1 .u-image-15 {
    height: 365px;
    margin-left: initial;
  }
}